@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  color: #333;
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
}

span {
  display: inline-block;
}
